DATABASE_URL=
# Lookup user information
NUXT_PUBLIC_USER_LOOKUP_URL=
NUXT_PUBLIC_USER_LOOKUP_IDENTIFIER_FIELD=
NUXT_PUBLIC_USER_LOOKUP_DISPLAY_NAME_FIELD=

# OIDC settings
NUXT_PUBLIC_AUTH_OIDC_IDENTIFIER_FIELD=
NUXT_OAUTH_OIDC_OPENID_CONFIG=
NUXT_OAUTH_OIDC_CLIENT_ID=
NUXT_SESSION_PASSWORD=
NUXT_PUBLIC_AUTH_DISABLED=
